.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.container {
  width: 1000px !important;
}

p {
  font-size: 12px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.bg-primary {
  background-color: #0185d2 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;

}

.form-control {
  height: 36px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}


.form-control:focus,
.form-control:active {
  border-color: #01d28e !important;
}

.form-label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.bi {
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  .container {
      width: 100% !important;
      padding-bottom: 207px !important;
  }
}